---
import LinkButton from "./LinkButton.astro";
import GitHub from "./icons/GitHub.astro";
import Link from "./icons/Link.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Python from "./icons/Python.astro";
import Pandas from "./icons/Pandas.astro";
import R from "./icons/R.astro";
import ScikitLearn from "./icons/ScikitLearn.astro";
import Typescript from "./icons/Typescript.astro";
import TensorFlow from "./icons/TensorFlow.astro";
import Matplotlib from "./icons/Matplotlib.astro";

const TAGS = {
  // Programming languages
  TYPESCRIPT: {
    name: "TypeScript",
    class: "bg-[#007ACC] text-white",
    icon: Typescript,
  },
  PYTHON: {
    name: "Python",
    class: "bg-[#3776AB] text-white",
    icon: Python,
  },
  R: {
    name: "R",
    class: "bg-[#276DC3] text-white",
    icon: R,
  },
  // Web technologies
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  // Data Science
  PANDAS: {
    name: "Pandas",
    class: "bg-[#150458] text-white",
    icon: Pandas,
  },
  SCIKITLEARN: {
    name: "Scikit-learn",
    class: "bg-[#F7931E] text-white",
    icon: ScikitLearn,
  },
  TENSORFLOW: {
    name: "TensorFlow",
    class: "bg-[#FF6F00] text-white",
    icon: TensorFlow,
  },
  MATPLOTLIB: {
    name: "Matplotlib",
    class: "bg-[#11557C] text-white",
    icon: Matplotlib,
  },
};
const PROJECTS = [
  {
    title:
      "ML in ARGs - Machine Learning to fight against Antibiotic Resistant Genes",
    description:
      "Using genetic information from resistant bacteria, it is possible to model the characteristics that confer resistance to certain antibiotics. This information could be used to predict new potential resistant genes or sets of genes and take appropriate action. In this project, real data from a series of resistant bacteria identified in the laboratory will be used to build a machine learning model capable of predicting potential resistance genes (ARGS).",
    link: "https://geovalexis.github.io/ml-in-args/",
    github: "https://github.com/geovalexis/ml-in-args",
    image: "/projects/ml-in-args.webp",
    tags: [TAGS.PYTHON, TAGS.R, TAGS.PANDAS, TAGS.SCIKITLEARN],
  },
  {
    title:
      "Glaucoma Detection - CNN model to detect glaucoma disease using fundus images",
    description:
      "In this project, we developed a convolutional neural network (CNN) based on the Xception architecture to classify fundus images for glaucoma detection, achieving an F1-score of 0.87 ± 0.05. While provided training folds were used, a more flexible cross-validation strategy would be preferable to enhance model evaluation. Key factors in designing partitions include ensuring diversity and balanced class distribution to improve generalization.",
    link: "https://geovalexis.github.io/GlaucomaDetection/",
    github: "https://github.com/geovalexis/GlaucomaDetection",
    image: "/projects/glaucoma-eye.webp",
    tags: [TAGS.PYTHON, TAGS.TENSORFLOW, TAGS.PANDAS, TAGS.MATPLOTLIB],
  },
  {
    title: "PP2GO - Phylogenetic Profiling To Gene Ontology",
    description:
      "Machine Learning to predict functional relationships of uncharacterized proteins through orthology and co-evolution information. A pipeline was developed to test different models and filters in a High-Performance Computing environment",
    link: "https://github.com/geovalexis/PP2GO/wiki",
    github: "https://github.com/geovalexis/PP2GO",
    image: "/projects/coevolution.webp",
    tags: [TAGS.PYTHON, TAGS.PANDAS, TAGS.SCIKITLEARN, TAGS.MATPLOTLIB],
  },
];
---

<div class="projects-carousel">
  {
    PROJECTS.map(({}, index) => (
      <input
        type="radio"
        name="slider"
        id={`project-${index + 1}`}
        style="display: none;"
      />
    ))
  }

  <div class="cards">
    {
      PROJECTS.map(
        ({ image, title, description, tags, link, github }, index) => (
          <label
            class="card"
            for={`project-${index + 1}`}
            id={`project-content-${index + 1}`}
          >
            <article class="flex flex-col justify-center items-center bg-white dark:bg-gray-800 p-8 rounded-lg shadow-md gap-y-3">
              {/* Header image */}
              <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
                <img
                  class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
                  loading="lazy"
                  src={image}
                />
              </div>
              {/* Content */}
              <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
                {title}
              </h3>
              <div class="flex flex-wrap mt-2">
                <ul class="flex flex-row mb-2 gap-x-2">
                  {tags.map((tag) => (
                    <li>
                      <span
                        class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                      >
                        <tag.icon class="size-4" />
                        {tag.name}
                      </span>
                    </li>
                  ))}
                </ul>
                <div class="mt-2 text-gray-700 dark:text-gray-400">
                  {description}
                </div>
                {/* Footer */}
                <footer class="flex items-end justify-start mt-4 gap-x-4">
                  {github && (
                    <LinkButton href={github}>
                      <GitHub class="size-6" />
                      Code
                    </LinkButton>
                  )}
                  {link && (
                    <LinkButton href={link}>
                      <Link class="size-4" />
                      Preview
                    </LinkButton>
                  )}
                </footer>
              </div>
            </article>
          </label>
        )
      )
    }
  </div>
</div>

<style>
  .projects-carousel {
    width: 100%;
    min-height: 600px;
    height: 750px; /* NOTE: set a fixed height to avoid layout shift */
  }

  .cards {
    width: 100%;
    height: 80%;
    position: relative;
  }

  .card {
    position: absolute; /* NOTE: absolutely-positioned elements won't be counted for auto height, so we need to set a height for the parent */
    width: 60%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform 0.4s ease;
    cursor: pointer;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
</style>

<script>
  // Render 3D Carousel
  const cardTransformations = {
    central: {
      cardStyles: {
        transform: "translateX(0) scale(1)",
        opacity: "1",
        "z-index": "1",
      },
      imgStyles: {
        boxShadow: "0px 0px 5px 0px rgba(81, 81, 81, 0.47)",
      },
    },
    left: {
      cardStyles: {
        transform: "translateX(-40%) scale(0.8)",
        opacity: "0.4",
        "z-index": "0",
      },
      imgStyles: {
        boxShadow: "none",
      },
    },
    right: {
      cardStyles: {
        transform: "translateX(40%) scale(0.8)",
        opacity: "0.4",
        "z-index": "0",
      },
      imgStyles: {
        boxShadow: "none",
      },
    },
  };
  function changeCardStyles(
    cardId: string,
    styles: Record<string, Record<string, string>>
  ) {
    const card = document.querySelector<HTMLElement>(`#${cardId}`)!;
    for (const [key, value] of Object.entries(styles.cardStyles)) {
      card.style.setProperty(key, value);
    }
    const cardImg = card.querySelector<HTMLElement>("img")!;
    for (const [key, value] of Object.entries(styles.imgStyles)) {
      cardImg.style.setProperty(key, value);
    }
  }
  const inputs = document.querySelectorAll<HTMLInputElement>(
    'input[name="slider"]'
  );
  inputs.forEach((input, index) => {
    input.addEventListener("change", () => {
      changeCardStyles(
        `project-content-${index + 1}`,
        cardTransformations.central
      );
      changeCardStyles(
        `project-content-${((index - 1 + inputs.length) % inputs.length) + 1}`,
        cardTransformations.left
      );
      changeCardStyles(
        `project-content-${((index + 1) % inputs.length) + 1}`,
        cardTransformations.right
      );
    });
  });

  // Trigger change event on first input to render the initial state
  inputs[0].dispatchEvent(new Event("change"));
</script>
